/* CSS for the whole body. */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}
/* CSS for the navigation bar */
nav {
    background-color: #333;
    padding: 10px;
}
/* CSS for the navigation bar letters*/
nav a {
    color: white;
    margin-right: 10px;
    text-decoration: none;
}
/* CSS for the navigation bar, change of colors when hovering over it*/
nav a:hover {
    text-decoration: underline;
}
/* CSS for the containers, so CSS for the foundational layout block for input forms or sections.*/
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    background-color: white;
    box-shadow: 10px 10px 10px rgb(78, 71, 71);
}

/* CSS for the lay out of the input forms */
form label {
    display: block;
    margin: 15px 0 5px;
}

/* CSS for the look of the input form title*/
form input[type="text"] {
    width: 94.8%;
    padding: 10px;
    margin-bottom: 10px;
}
/* CSS for the look of the input form title*/
form textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
}
/* CSS for the look of the buttons*/
form button {
    padding: 10px 20px;
    background-color: #333;
    text-decoration: underline;
    color: white;
    border: 1px;
    cursor: pointer;
}

/* CSS for the look of the button when hovering over it*/
form button:hover {
    background-color: #555;
}